@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Inter:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$primary: #906427;
$secondary: #b6ac97;
$dark: #392c1e;
$black: #292222;
$white: #efefef;
$black-global: #1e1e1e;
$font-family-sans-serif: 'Montserrat', sans-serif !default;
$font-family-serif: 'Hind Madurai', serif !default;
$default-width: 24px;
$responsive-unit: calc(0.01 * 10vmax);

@mixin global-width {
  min-width: calc($default-width * 15);
  width: 100%;
  max-width: 100vw;
}
@mixin desktop-main-title {
  font-family: 'Lora', serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
@mixin desktop-second-title {
  @include desktop-main-title;
  font-weight: 400;
}

@mixin headline-text {
  @include desktop-main-title;
  font-family: 'Montserrat', serif;
  font-weight: 500;
}

@mixin text-content {
  font-family: 'Inter', serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  text-transform: none;
  // font-size: clamp(8px, 15px, 21px);
}

@mixin custom-icons {
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  background-color: $secondary;
  vertical-align: bottom;
  margin-bottom: 0.2rem;
  &:hover {
    background-color: $white;
  }
  min-height: clamp(10px, 17px, 24px);
  min-width: clamp(10px, 17px, 24px);
}

@import '../node_modules/bootstrap/scss/bootstrap';

html {
  max-width: 100vw;
  min-height: fit-content;
}

body {
  @include global-width;
  background-color: $black;
  color: $white;
  font-size: 0.9rem;
  @media screen and (min-width: 768px) {
    font-size: 0.75rem;
  }
  @media screen and (min-width: 992px) {
    font-size: 0.8rem;
  }
  @media screen and (min-width: 1200px) {
    font-size: 0.9rem;
  }
  @media screen and (min-width: 1400px) {
    font-size: 1rem;
  }
  @media screen and (max-width: 576px) {
    font-size: 0.6rem;
  }
}

header {
  .navbar-brand {
    @include desktop-main-title;
    font-size: clamp(18px, calc(22 * $responsive-unit), 28px);
  }
  .nav-link {
    @include desktop-second-title;
    color: $white;

    &:hover {
      color: $secondary;
    }
  }
}

main {
  @include global-width;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  @include text-content;
  h3 {
    @include headline-text;
  }

  a {
    color: $white;
    text-decoration: none;
  }
  .bi {
    color: $secondary;
  }
  .bi:hover {
    color: $white;
  }
  .bi.bi-deliveroo {
    -webkit-mask-image: url('/public/icons/deliveroo.svg');
    mask-image: url('/public/icons/deliveroo.svg');
    @include custom-icons;
  }
  .bi.bi-uber {
    -webkit-mask-image: url('/public/icons/ubereats.svg');
    mask-image: url('/public/icons/ubereats.svg');
    @include custom-icons;
  }
  .bi.bi-tripadvisor {
    -webkit-mask-image: url('/public/icons/tripadvisor.svg');
    mask-image: url('/public/icons/tripadvisor.svg');
    @include custom-icons;
  }

  hr {
    max-width: 98vw;
    margin: 1rem auto;
  }
  .credits {
    a {
      color: $primary;
      &:hover {
        color: $white;
      }
    }
  }
}

// h1 {
//   font-family: 'Lora', serif;
//   font-optical-sizing: auto;
//   font-weight: medium;
//   font-style: normal;
//   text-transform: uppercase;
//   font-size: 32px;
// }
// span {
//   display: inline-block;
// }
