@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Inter:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$primary: #906427;
$secondary: #b6ac97;
$dark: #392c1e;
$black: #292222;
$white: #efefef;
$black-global: #1e1e1e;
$font-family-sans-serif: "Montserrat", sans-serif !default;
$font-family-serif: "Hind Madurai", serif !default;
@mixin desktop-main-title {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: medium;
  font-style: normal;
  text-transform: uppercase;
  font-size: 32px;
  @media screen and (max-width: 1680px) {
    font-size: 30px;
  }
  @media screen and (max-width: 1580px) {
    font-size: 28px;
  }
  @media screen and (max-width: 1480px) {
    font-size: 26px;
  }
  @media screen and (max-width: 1280px) {
    font-size: 24px;
  }
  @media screen and (max-width: 1180px) {
    font-size: 22px;
  }
  @media screen and (max-width: 1080px) {
    font-size: 20px;
  }
}
@mixin desktop-second-title {
  @include desktop-main-title;
  font-size: 24px;
  @media screen and (max-width: 1680px) {
    font-size: 22px;
  }
  @media screen and (max-width: 1580px) {
    font-size: 20px;
  }
  @media screen and (max-width: 1480px) {
    font-size: 18px;
  }
  @media screen and (max-width: 1280px) {
    font-size: 16px;
  }
  @media screen and (max-width: 1180px) {
    font-size: 14px;
  }
  @media screen and (max-width: 1080px) {
    font-size: 12px;
  }
}

@mixin headline-text {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: medium;
  font-style: normal;
  text-transform: capitalize;
  font-size: 24px;
  @media screen and (max-width: 1680px) {
    font-size: 22px;
  }
  @media screen and (max-width: 1580px) {
    font-size: 20px;
  }
  @media screen and (max-width: 1480px) {
    font-size: 18px;
  }
  @media screen and (max-width: 1280px) {
    font-size: 16px;
  }
  @media screen and (max-width: 1180px) {
    font-size: 14px;
  }
  @media screen and (max-width: 1080px) {
    font-size: 12px;
  }
}

@mixin text-content {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  text-transform: none;
  font-size: 21px;
  @media screen and (max-width: 1680px) {
    font-size: 18px;
  }
  @media screen and (max-width: 1580px) {
    font-size: 16px;
  }
  @media screen and (max-width: 1480px) {
    font-size: 14px;
  }
  @media screen and (max-width: 1280px) {
    font-size: 12px;
  }
  @media screen and (max-width: 1180px) {
    font-size: 10px;
  }
  @media screen and (max-width: 1080px) {
    font-size: 8px;
  }
}

@mixin custom-icons {
  background-repeat: no-repeat;
  background-size: cover; /* stretch the background to cover the whole element */
  display: inline-block;
  background-color: $secondary;
  vertical-align: bottom;
  margin-bottom: 0.2rem;
  min-height: 24px;
  min-width: 24px;
  &:hover {
    background-color: $white;
  }
  @media screen and (max-width: 1680px) {
    min-height: 20px;
    min-width: 20px;
  }
  @media screen and (max-width: 1580px) {
    min-height: 18px;
    min-width: 18px;
  }
  @media screen and (max-width: 1480px) {
    min-height: 16px;
    min-width: 16px;
  }
  @media screen and (max-width: 1280px) {
    min-height: 14px;
    min-width: 14px;
  }
  @media screen and (max-width: 1180px) {
    min-height: 12px;
    min-width: 12px;
  }
  @media screen and (max-width: 1080px) {
    min-height: 10px;
    min-width: 10px;
  }
}

@import "../node_modules/bootstrap/scss/bootstrap";

body {
  background-color: $black;
  color: $white;
  max-width: 100vw;
  overflow-x: hidden;
}

.navbar-brand {
  @include desktop-main-title;
}
.nav-link {
  @include desktop-second-title;
  color: $white;

  &:hover {
    color: $secondary;
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  h3 {
    @include headline-text;
  }
  @include text-content;

  a {
    color: $white;
    text-decoration: none;
  }
  .bi {
    color: $secondary;
  }
  .bi:hover {
    color: $white;
  }
  .bi.bi-deliveroo {
    -webkit-mask-image: url("/public/icons/deliveroo.svg");
    mask-image: url("/public/icons/deliveroo.svg");
    // background: url("/public/icons/deliveroo.svg");
    @include custom-icons;
  }
  .bi.bi-uber {
    -webkit-mask-image: url("/public/icons/ubereats.svg");
    mask-image: url("/public/icons/ubereats.svg");
    // background: url("/public/icons/ubereats.svg");
    @include custom-icons;
  }
  .bi.bi-tripadvisor {
    -webkit-mask-image: url("/public/icons/tripadvisor.svg");
    mask-image: url("/public/icons/tripadvisor.svg");
    // background: url("/public/icons/tripadvisor.svg");
    @include custom-icons;
  }

  hr {
    max-width: 98vw;
    margin: 1rem auto;
  }
  .credits {
    a {
      color: $primary;
      &:hover {
        color: $white;
      }
    }
  }
}

h1 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: medium;
  font-style: normal;
  text-transform: uppercase;
  font-size: 32px;
}
span {
  display: inline-block;
}
